body
{
	background-color:#FFFFFC;
	padding:0;
	margin:0;
	font-family: 'Montserrat', sans-serif;
	background: url("img/tlo6.png");
	
}

#container
{
	width:100%;
	margin:0;
	padding:0;
}
#menu
{
	margin:auto;
	width:1200px;
	height:100px;
	/*background-color:#000033;*/
	border-radius: 4px;
	box-sizing:border-box;
	border-bottom: solid 4px black;
	border-radius:10px;
	box-shadow: 0px 18px 62px 9px rgba(0,0,0,0.75);
}
#logo
{
	background: url(img/logo.png);
	width:400px;
	height:98px;
	background-size:contain;
	background-repeat: no-repeat;
	float:left;
	padding-bottom:-10px;
}
#nav 
{
	width:800px;
	height:100px;
	margin-bottom:20px;
	/*background-color:grey;*/
	float:left;
}
ul
{
	list-style-type:none;
	height:100px;
	width:800px;
	
}
ul>li
{
	display:inline-block;
	margin-left:30px;
	margin-top:10px;
	letter-spacing:2px;
	font-size:16px;
}
ul>li a
{
	text-decoration:none;
	color:black;
}
ul>li a:hover
{
	color:#660000;
}
ul>li:hover
{
	border-bottom: 1px solid black;
}
#ad
{
	clear:both;
	height:100px;
	width:900px;
	margin:auto;
	background-color:grey;
	margin-top:40px;
}
.okienko
{
	width:700px;
	height:500px;
	background-color:black;
	margin:auto;
	margin-top:50px;
	margin-bottom:50px;
	box-sizing:border-box;
}
p.like
{
	display:inline-block;
	color:white;
	position:relative;
	bottom:-60px;
	left:150px;
	margin-left:100px;
	color:green;
}
p.dislike
{
	display:inline-block;
	color:white;
	position:relative;
	bottom:-60px;
	left:150px;
	margin-left:100px;
	color:red;
}
p:hover
{
	cursor:pointer;
	color:white;
}
.mem
{
	margin:auto;
	width:600px;
	height:400px;
}
img
{
	width:100%;
	height:100%;
	margin-top:40px;
}

#footer
{
	width:100%;
	height:100px;
	padding:40px;
	box-sizing:border-box;
	background-color:black;	
	bottom:0;
	color:silver;
	text-align:center;
	letter-spacing:5px;
	border-top: 1px solid silver;
}
#footer>a
{
	text-decoration:none;
	color:white;
	margin-left:30px;
	margin-right:30px;
	border: 1px dotted white;
	border-radius:5px;
	padding:10px;
}
#footer>a:hover
{
	color:silver;
	border:1px solid silver;
}
#loguj
{
	width:300px;
	height:500px;
	background-color:grey;
	position:fixed;
	top:100px;
	left:0;
	border: 2px solid black;
	transform:translateX(-280px);
	transition: transform 1s ease-in-out;
	box-sizing:border-box;
}
#loguj:before
{
	content:'L o g o w a n i e ';
	text-align:center;
	padding:5px;
	font-size: 20px;
	line-height:50px;
	position:absolute;
	top:0;
	right:0;
	width:22px;
	height:100%;
	background-color:black;
	color:white;
	word-wrap:break-word;
	cursor:pointer;
	box-sizing:border-box;
}
#logowanie
{
	padding:20px;
	margin-left:20px;
	font-size:13px;
}
input
{
	margin-top:10px;
	margin-right:2px;
	border:1px solid silver;
	border-radius: 5px;
}
.btn
{
	width:150px;
	height:30px;
	background-color:black;
	color:white;
	border:none;
	margin-bottom:10px;
}
.btn:hover
{
	background-color:silver;
	color:black;
	border: 1px solid black;
	cursor:pointer;
}